[submodule "core/modules/CDS"]
	path = core/modules/CDS
	url = git@github.com:noaa-pifsc/PIFSC-Container-Deployment-System.git
[submodule "projects/DSC/modules/DSC"]
	path = projects/DSC/modules/DSC
	url = git@github.com:noaa-pifsc/PIFSC-DSC.git
[submodule "projects/CAS/modules/AAM"]
	path = projects/CAS/modules/AAM
	url = git@github.com:noaa-pifsc/Authorization-Application-Module.git
